{
    "env": {
      "es6": true,
      "node": true,
      "jest": true
    },
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "plugins": ["@typescript-eslint"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "root": true,
    "rules": {
        "semi": ["error", "never"],
        "quotes": ["error", "double"],
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "eol-last": ["error", "always"],
        "no-console": "warn",
        "comma-spacing": ["error", { "before": false, "after": true }],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "space-before-function-paren": ["error", { "anonymous": "never", "named": "never", "asyncArrow": "always" }],
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "object-curly-spacing": ["error", "always"],
    }
}